# package directories
node_modules
jspm_packages

# user configuration
userData/**
generatedEBooks/**
fetchedPages
.DS_Store
stdout.log
lib
sanitizedHtmlNls
epub-gen-copy/tempDir/**
scratch.ts
scratch.html
stderr.log
stderr.log

